RewriteEngine on

#RewriteCond %{HTTP_HOST} ^adhoc\.partnerpay\.co\.in$ [NC]
#RewriteRule ^((?!development/).*)$ /development/$1 [L,QSA]

# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php